body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  color: white;
  background-color: #303030;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.filter_node {
  transition: filter 0.2s ease;
}

.blur {
  filter: blur(3.5px) grayscale(50%) saturate(25%);
}

#page_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: darkmagenta;
  width: 100vw;
  height: 75px;
  transition: filter 0.2s ease;
  box-shadow: rgba(32, 32, 32, 0.8) 0px 0px 10px;
  z-index: 5;
}

.page_title {
  font-family: Helvetica;
  color: #fff;
  font-size: 50px;
  padding: 10px;
  margin: 0;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100% - 75px);
  transition: filter 0.2s ease;
  overflow: hidden;
}

.journal_container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #404040;
  margin: 0px calc(20vw - 30px);
  flex: 1;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 15px;
}

.control_stack {
  display: flex;
  position: absolute;
}

.control_stack.page {
  flex-direction: column;
  top: 20px;
  right: calc(5% - 19px);
  gap: 5px;
  z-index: 10;
}

.control_stack.form {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
  bottom: 12px;
  right: 24px;
  gap: 5px;
}

.control {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.735));
  transition: opacity 0.2s ease;
}

.control.page {
  height: 50px;
  width: 50px;
  opacity: 0.6;
}

.control.form {
  height: 25px;
  width: 25px;
  opacity: 0.2;
}

.control:hover {
  cursor: pointer;
  opacity: 0.9;
}

#new_entry_btn {
  background-image: url(./images/newEntry.png);
}

#view_archived_btn:hover,
#view_archived_btn.active,
#new_entry_btn:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 10px rgba(239, 237, 214, 0.735));
}

#view_archived_btn {
  background-image: url(./images/showArchOff.png);
}

#view_accented_btn {
  background-image: url(./images/showAccOff.png);
}

#view_accented_btn:hover,
#view_accented_btn.active {
  background-image: url(./images/showAccOn.png);
  filter: drop-shadow(0px 0px 10px rgba(239, 237, 214, 0.735));
  opacity: 1;
}

#form_publish_btn {
  background-image: url(./images/entryPublish.png);
}

#form_discard_btn {
  background-image: url(./images/entryCancel.png);
}

#entry_form_container {
  position: absolute;
  inset: calc(20% - 50px);
  display: flex;
  flex-direction: column;
  background-color: #404040;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 0%;
  transition: opacity 0.2s ease;
  z-index: 12;
}

.entry_form_input {
  padding: 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#entry_form_title,
#entry_form_content {
  font-family: Helvetica;
  color: white;
  background-color: #555555;
  border: none;
  resize: none;
} 

#entry_form_title:focus,
#entry_form_content:focus {
  background-color: #606060;
  outline: 1px solid darkmagenta;
}

#entry_form_content {
  font-size: 16px;
  flex-grow: 1;
  padding: 5px;
  border-radius: 10px;
}

#entry_form_title {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  height: 40px;
}

#entry_stack {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 25px 11% 25px 5%;
  gap: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: darkmagenta;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: magenta;
  border-radius: 3px;
}

.entry {
  position: relative;
  font-family: Helvetica;
  text-align: left;
  background-color: #303030;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
}

.entry.restore {
  background-color: #606060;
}

.entry.remove {
  background-color: #202020;
}

.entry.accent {
  box-shadow: 0px 0px 10px rgba(239, 237, 214, 0.735);
}

.entry.archived {
  background-color: #282828;
}

.entry_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.entry_head_text {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 20px 5px 0px 20px;
}

.entry_text_title {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  margin: 0px;
}

.entry_text_pubTs {
  color: magenta;
  font-size: 14px;
  margin: 0px;
}

div.entry_content {
  font-size: 16px;
  padding: 0px 20px 20px 20px;
  white-space: pre-wrap;
}

p.entry_content {
  margin-top: 16px;
  margin-bottom: 0;
}

.indent + .noIndent {
  margin-top: 16px;
  margin-left: 5%;
  margin-bottom: 0;
}

.noIndent + .indent {
  margin-top: 16px;
}

#error_callout {
  position: absolute;
  display: flex;
  top: 30px;
  left: calc(50% - 160px);
  width: 320px;
  height: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 20;
  transition: opacity 0.2s ease;
  background-image: url(./images/errCallout.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  opacity: 0;
}

#error_message {
  width: 90%;
  height: 57%;
  font-family: Helvetica;
  color: #fff; 
  font-size: 20px;
  text-align: left;
}

.entry_head_actions {
  display: flex;
  flex: 0 0 auto;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 5px 5px 5px 5px;
  gap: 5px;
  cursor: pointer;
 }

.entry_action_btn {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .2;
  transition: opacity 0.2s ease;
}

.entry_action_btn:hover {
  opacity: 0.7;
}

.entry_accent_btn {
  background-image: url(./images/accentOff.png);
}

.entry_edit_btn {
  background-image: url(./images/editPencil.png);
}

.entry_archive_btn {
  background-image: url(./images/archRemove.png);
}

.entry.accent .entry_accent_btn {
  background-image: url(./images/accentOn.png);
  filter: drop-shadow(0px 0px 5px rgba(239, 237, 214, 0.735));
  opacity: 1;
}

.hide,
.entry.archived .entry_accent_btn,
.entry.archived .entry_edit_btn,
.entry.restore .entry_accent_btn,
.entry.restore .entry_edit_btn{
  display: none;
}

.entry.archived .entry_archive_btn,
.entry.restore .entry_archive_btn {
  background-image: url(./images/archRestore.png);
  opacity: 0.2;
}

.entry.archived .entry_archive_btn:hover {
  opacity: 0.7;
}